@use 'mixin' as mixin;

.globalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 1200px;
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.moduleArea {
  position: absolute;
  &--help {
    top: 0;
    left: 0;
  }
  &--charaDescription {
    top: 0;
    right: 0;
  }
  &--task {
    bottom: 0;
    left: 0;
  }
  &--addTask {
    bottom: 0;
    right: 0;
  }
}
// Tablet(portrait) ~
@include mixin.mediaQuery(tb){
  .globalContainer {}
}
// PC  ~
@include mixin.mediaQuery(pc){
  .globalContainer {}
}
