// Color
$COLOR_PRIMARY: #B7C4CF;
$COLOR_SECONDARY: #EEE3CB;
$COLOR_TERTIARY: #D7C0AE;
$COLOR_QUATERNARY: #967E76;

// TEXT
$FSIZE_BASE: 16px !default;
$FSIZE_H1: 28px;
$FSIZE_H2: 24px;
$FSIZE_H3: 18px;
$FSIZE_H1_SP: 24px;
$FSIZE_H2_SP: 20px;
$FSIZE_H3_SP: 16px;
$LINE_HEIGHT: 1.5;

$FONT_PRIMARY: sans-serif;
$FONT_SECONDARY: sans-serif;
